{% extends "base.html" %}
{% block sidebar %}
    {% include 'core/sidebar.html' %}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">

            {% for module in dashboard_modules %}
                <div class="col-lg-3 col-6">
                    <div class="small-box text-light" style="background-color: {{ module.color }};">
                        <div class="inner">
                            <h3>{{ module.label }}</h3>
                            <p>
                                {% if module.permission == 1 %}
                                    Solo lectura
                                {% elif module.permission == 2 %}
                                    Lectura y escritura
                                {% endif %}
                            </p>
                        </div>

                        <!-- Icono -->
                        {% if module.icon == "users" %}
                            <i class="bi bi-people small-box-icon"></i>
                        {% elif module.icon == "truck" %}
                            <i class="bi bi-truck small-box-icon"></i>
                        {% elif module.icon == "cube" %}
                            <i class="bi bi-box small-box-icon"></i>
                        {% elif module.icon == "cart" %}
                            <i class="bi bi-cart small-box-icon"></i>
                        {% elif module.icon == "currency" %}
                            <i class="bi bi-currency-dollar small-box-icon"></i>
                        {% elif module.icon == "archive" %}
                            <i class="bi bi-archive small-box-icon"></i>
                        {% elif module.icon == "calculator" %}
                            <i class="bi bi-calculator small-box-icon"></i>
                        {% elif module.icon == "chart" %}
                            <i class="bi bi-bar-chart small-box-icon"></i>
                        {% endif %}

                        <a href="{{ module.url }}"
                           class="small-box-footer link-underline-opacity-0 link-underline-opacity-50-hover">
                            Acceder <i class="bi bi-link-45deg"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
